body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav a {
  padding: 10px;
  font-size: medium;
  background-color: yellow;

}

#intro {
    width: 50%;
    height: 50%;

}

#featuredproperty {
  padding-left: 40%;
  padding-right: 40%;
}

#details {
  background-color: red;
}

#details div {
  display: inline-block;
  padding-right: 10%;
}

